.reset-el-style {
  /* 组件 width  100% */
  .el-select,
  .el-date-editor.el-input,
  .el-range-editor.el-input__inner,
  .el-date-editor.el-input__inner,
  .el-autocomplete,
  .el-select-v2 {
    width: 100%;
  }

  /* el-menu */
  .el-menu {
    border-right: none;

    // icon
    .el-icon {
      margin-top: -5px;
      margin-right: 10px;
    }
  }

  .el-submenu .el-menu-item {
    box-sizing: border-box;
    width: 100%;
  }

  .el-sub-menu__title {
    color: var(--el-text-color-regular) !important;
  }

  .el-sub-menu__title:hover {
    background: var(--el-color-primary-light-8) !important;
  }

  .el-menu-item {
    color: var(--el-text-color-regular) !important;
    border-bottom: 1px solid var(--el-background-color-base);

    .submenu-text {
      padding-left: 0.5vw;
    }
  }

  .el-menu-item:hover {
    color: var(--el-text-color-regular) !important;
    background: var(--el-color-primary-light-7) !important;
  }

  .el-menu-item.is-active,
  .el-menu-item.is-active:hover {
    color: var(--el-text-color-regular) !important;
    background: var(--el-color-primary-light-5) !important;
    border-radius: 4px;
  }

  // 伪元素实现 菜单栏圆点
  .el-menu-item.is-active::after {
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    width: 4px;
    height: 12px;
    margin-top: -6px;
    content: '';
    background: var(--el-fill-color) !important;
  }

  i.iconfont {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: var(--el-text-color-regular) !important;
  }
}
