@import 'element-plus/theme-chalk/el-message-box.css';
@import 'element-plus/theme-chalk/dark/css-vars.css';
@import './reset-el-style.scss';
@import 'nprogress/nprogress.css';
@import 'tailwindcss';

@theme {
  --darkMode: class;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
