@use './tailwind.scss';
@use 'element-plus/theme-chalk/el-message-box.css';
@use 'element-plus/theme-chalk/dark/css-vars.css';
@use './reset-el-style.scss';
@use 'nprogress/nprogress.css';

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
