.reset-el-style {
  --el-border-radius-base: 6px;

  /* 组件 width  100% */
  .el-select,
  .el-date-editor.el-input,
  .el-range-editor.el-input__inner,
  .el-date-editor.el-input__inner,
  .el-autocomplete,
  .el-select-v2 {
    width: 100%;
  }

  /**
  * el-menu
  * =========================================================================
  */
  .el-menu {
    --el-menu-base-level-padding: 10px;
    padding: 4px 1px;
    border-right: none;

    // icon
    .el-icon {
      margin-top: -5px;
      margin-right: 10px;
    }
  }

  .el-submenu .el-menu-item {
    box-sizing: border-box;
    width: 100%;
  }

  .el-menu-item,
  .el-sub-menu__title {
    --el-menu-item-height: 38px;
    --el-menu-sub-item-height: 38px;

    margin-bottom: 4px;

    .c-svg-icon {
      svg {
        path,
        circle {
          stroke: var(--el-text-color-primary) !important;
        }
      }
    }

    .submenu-text {
      padding-left: 0.2vw;
    }
  }

  .el-sub-menu__title {
    color: var(--el-text-color-primary);
    border-bottom: 1px solid var(--el-border);
  }

  .el-sub-menu__title:hover,
  .el-menu-item:hover,
  .el-menu-item.is-active,
  .el-menu-item.is-active:hover {
    color: #ffffff;
    background: var(--el-color-primary);
    border-radius: var(--el-border-radius-base);

    .c-svg-icon {
      svg {
        path,
        circle {
          stroke: #ffffff !important;
        }
      }
    }
  }

  /**
  * el-pagination
  * =========================================================================
  */
  .el-pagination {
    justify-content: right;
  }

  /**
  * .el-divider
  */

  .el-divider--horizontal {
    margin: 12px 0;
  }

  /**
  * el-card
  */
  .el-card {
    --el-card-border-radius: var(--el-border-radius-base);
  }
}
